<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="start">
  
    <main>
<section>
        <h1>Nerdyshirt-ink</h1>
        <p>Designing a shirt was never been easier</p>
        <p>
            <a href="/editor-step1" alt="Design shirt step 1">Design shirt</a>
            <!-- <a href="/buildshirt1" alt="Design shirt step 1">Edit design</a> -->
        </p>
    </section>
    </main>


    

    <!-- <script src="js/script.js"></script> -->


</body>


</html>